/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("./assets/img/colors.jpg");
    background-attachment: fixed;
}

